<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>APP Fit & Improvement.JSquit</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/templates/main.css"></link>
</head>
<body style="background-color: rgba(41,41,41,0.5) ; color: #efefef ;">
    
    <form action = "http://{{ip}}:8080/" method = "post">
        <div class="row">
            <div class = "col-10">
                <br>
                <br>
                <input type="text" id="idd_app" name="set_id" style="font-size: 50px; text-align: center; width: 100%; border-radius: 15px;"
                autocomplete="off" spellcheck="false" role="combobox"
                placeholder="Introduce Tu ID APP" aria-live="polite">
            
            </div>
            <div class = "col-2">
                <button name='fowardbtn' class="button" style="border-radius: 15px;" type="submit">
                </script>
            </canvas>
    
        </form>
    
    
    
    
    
    
    </body>
    
    </html>

        <div class="row">
            <div class = "col-4">
                <p>Ratings</p>
                <textarea id="ratings_app" disabled=True rows="1" cols="53" style="width: 100%;">{{ratings_app}}</textarea>
            </div>
            <div class = "col-4">
                <p>Score</p>
                <textarea id="Score_app" disabled=True rows="1" cols="53" style="width: 100%;">{{score_app}}</textarea>
            </div>
            <div class = "col-4">
                <p>Reviews</p>
                <textarea id="ratings_app" disabled=True rows="1" cols="53" style="width: 100%;">{{reviews_app}}</textarea>
            </div>
        </div>
        <canvas id="lineChart" width="900" height="400">
            <script>
                var ctx = document.getElementById("lineChart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: {{etiquetas | safe}},
                        datasets: [
                            {
                                label: "Ratings",
                                data: {{histograma | safe}},
                                fill:true,
                                backgroundColor: "{{color | safe}}",
                                borderColor: "rgb(75,192,192)",
                                lineTension: 0.6
                            }
                        ]
                    },
                    options: {
                        
                    }
                })
            </script>
        </canvas>

    </form>
          
    

    


</body>

</html>

